---
layout: default
---
<link rel="stylesheet" href="{{ site.baseurl }}/foundation-6/css/foundation.min.css">
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p>
      <a href="{{ page.ghsource | prepend: 'https://www.kaggle.com/c/' }}"> View project on Kaggle </a>
      {% if page.ghpages %} <a href="https://www.kaggle.com/c/{{ page.ghpages }}">| View data on Kaggle</a> {% endif %}
      {% if page.outlink %} <a href="{{ page.outlink }}">| View live site</a> {% endif %}
    </p>
    <p class="meta">
      {{ page.tech }}
    </p>
  </header>
</div>
      <article class="post-content">
        {{ content }}
      </article>
